body{
    background-color:#fff;
    font-family: "Arial", "Sans-Serif";
  }
  ul{
    list-style:none;
    margin: 22px 0 0 0;
    padding:0;
    }
  ul a{
    text-decoration:none;
    color:black;
    cursor:default;
    }
  ul a:hover{
    text-decoration:underline;
   color:#585858;
  }
  li{
    font-family: "Arial", "Sans-Serif";
    font-size: 13px;
    Position: relative;
    Top: 50%;
    Transform: translateY(-35%);
      }
  li.navr{
    float:right;
    padding-right:15px;
    
   }
  li.navl{
    float:left;
    padding-left:15px;
  }
  .sign-in{
    color:#fff;
  background:-webkit-linear-gradient(top,#4387fd,#4683ea);
    cursor:default;
    text-decoration:none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    line-height: 28px;
    padding: 0 12px;
  }
  center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  #google-search{
   display:flex;
    border: 2px solid;
    width:482px;
  height:34px;
    border-radius:24px;
    border-color: rgb(223, 225, 229);
    box-shadow:none;
  margin: 0 auto;
  }
  #google-search:hover{
     box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
      border-color: rgba(223,225,229,0);
  }
  .center-button{
    background-image: webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color:#f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:#5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding:0 16px;
    line-height: 27px;
    height:36px;
    min-width:54px;
    text-align:center;
    cursor:default;
    user-select:none;
    }
  .center-button:hover{
       box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
    color: #222;
  }
  center p{
    font-size:small;
    line-hight:28px;
  }
  #gaeilge{
    text-decoration:none;
  }
  #gaeilge:hover{
    text-decoration:underline;
  }
  footer{
    background-color: #f2f2f2;
    width:100%;
    border:1px solid #e4e4e4;
    bottom: 0;
      left: 0;
      position:fixed;
      right: 0;
  }
  li.left-foot, 
  li.right-foot {
      position: relative;
    bottom: 10px;
  }
      
  .right-foot{
    float:right;
    padding-right:10px;
    
  }
  
  .left-foot{
    float:left;
    padding-left:10px;
  }
  input#google-search {
      background-image: url("https://lh5.googleusercontent.com/proxy/C5s9sh8Pkvs03vUtbnHZ4M4T3NpuAJIEQbQlZuA_Pn-eToeOJ9TGP6kiATijE99uVrtj7CbBO2POBX59xUgPbFInm4N8tx1X-WiJcw44VH-BTkRzbEKXRKDSxOeUzuydOTFyJUizHClXt25zSgaN3yDz1xQobPWMjoB1jMRqMQ");
  background-size:contain;
      background-repeat: no-repeat;
      text-indent: 20px;
  }
    input#google-search:focus {
      background-image:none;
      text-indent:0px
      }